$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-surface: --theme-surface;
$--theme-background: --theme-background;
$--theme-on-primary: --theme-on-primary;
$--theme-on-secondary: --theme-on-secondary;
$--theme-accent-1: --theme-accent-1;
$--theme-on-surface: --theme-on-surface;

$--theme-font-family-body: --theme-theme-font-family-body;
$--theme-font-family-display: --theme-font-family-display;

$lato: 'Lato', sans-serif;
$londrina: 'Londrina Solid', cursive;
$montserrat: 'Montserrat', sans-serif;

$theme-blue: #4f8bd3;
$theme-dark-blue: #266bbd;
$theme-dark-pink: #ffa39f;
$theme-darker-pink: #e73c4e;
$theme-yellow: #f9f93a;
$theme-border-width: 10px;
$theme-red: #c23616;
$theme-translucent-black: rgba(0, 0, 0, .2);
// contrast theme
$theme-map-contrast: (
  $--theme-primary: #f34c84,
  $--theme-secondary: #c297dc,
  $--theme-surface: #2f2b2b,
  $--theme-background: #1b1919,
  $--theme-on-primary: #443e42,
  $--theme-on-secondary: #000,
  $--theme-accent-1: #af0097,
  $--theme-on-surface: #f5f1f1,
  $--theme-font-family-body: $lato,
  $--theme-font-family-display: $londrina
);

// override contrast theme
$theme-map-basic: (
  $--theme-primary: #0e6ba9,
  $--theme-secondary: #f9cac8,
  $--theme-surface: #fff,
  $--theme-background: #fafafa,
  $--theme-on-primary: #d5eeff,
  $--theme-on-secondary: #0e6ba9,
  $--theme-accent-1: #af0097,
  $--theme-on-surface: #000,
  $--theme-font-family-body: $montserrat,
  $--theme-font-family-display: $londrina
);