:root.theme-basic {
  --theme-primary: #0e6ba9;
  --theme-secondary: #f9cac8;
  --theme-surface: #fff;
  --theme-background: #fafafa;
  --theme-on-primary: #d5eeff;
  --theme-on-secondary: #0e6ba9;
  --theme-accent-1: #af0097;
  --theme-on-surface: #000;
  --theme-theme-font-family-body: "Montserrat", sans-serif;
  --theme-font-family-display: "Londrina Solid", cursive; }

:root.theme-contrast {
  --theme-primary: #f34c84;
  --theme-secondary: #c297dc;
  --theme-surface: #2f2b2b;
  --theme-background: #1b1919;
  --theme-on-primary: #443e42;
  --theme-on-secondary: #000;
  --theme-accent-1: #af0097;
  --theme-on-surface: #f5f1f1;
  --theme-theme-font-family-body: "Lato", sans-serif;
  --theme-font-family-display: "Londrina Solid", cursive; }

[data-elm-hot='true'] {
  height: inherit; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 16px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; }
  @media screen and (min-width: 600px) {
    html {
      font-size: 18px; } }
  @media screen and (min-width: 900px) {
    html {
      font-size: 20px; } }

body {
  font-family: var(--theme-theme-font-family-body);
  color: var(--theme-secondary); }

img {
  max-width: 100%;
  height: auto; }

section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  section h1 {
    margin-top: 60px !important; }
  section .content {
    position: relative;
    z-index: 2; }

#splash-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  align-items: center;
  height: 100vh;
  min-height: 100vh; }
  #splash-page .intro {
    padding: 2rem;
    align-self: normal;
    color: var(--theme-on-primary);
    background: var(--theme-primary);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8em; }
    #splash-page .intro__logo--flower {
      align-self: end;
      padding-left: 20px; }
    #splash-page .intro__logo--text {
      grid-column: span 2;
      align-self: end;
      padding-right: 20px; }
    #splash-page .intro__details {
      grid-column: span 3;
      padding: 0 0.4rem; }
    #splash-page .intro__date {
      font-size: 2rem;
      letter-spacing: 0.1em;
      font-family: var(--theme-font-family-display);
      color: var(--theme-secondary);
      margin: 10px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    #splash-page .intro__tagline {
      font-size: 1.3rem;
      grid-column: span 3;
      text-align: center;
      margin: 0 auto; }
  #splash-page .stay-tuned {
    color: var(--theme-on-secondary);
    background: var(--theme-secondary);
    align-self: normal;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    #splash-page .stay-tuned__coming-soon {
      font-size: 3.5rem; }
  #splash-page .footer {
    text-align: center;
    position: absolute;
    bottom: 10px; }
    #splash-page .footer a {
      color: var(--theme-on-secondary); }

#code-of-conduct {
  background: var(--theme-secondary);
  color: var(--theme-on-secondary);
  padding: 20px; }

.gradient-anim {
  background: linear-gradient(to right, var(--theme-on-secondary) 20%, #449dd5 40%, #449dd5 60%, var(--theme-on-secondary) 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out infinite alternate; }

@keyframes shine {
  to {
    background-position: 200% center; } }

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #4f8bd3;
  box-sizing: border-box;
  border: 10px solid #266bbd;
  background-image: url(../public/images/ray-overlay.png), url(../public/images/halftone-rose.png);
  background-position: center center, 50% 65%;
  background-size: cover, auto 85%;
  background-repeat: no-repeat, no-repeat; }
  #home .hero__headline {
    background: #ffffff;
    height: 180px;
    max-width: 480px;
    display: block;
    margin: 0 auto;
    position: absolute;
    box-shadow: 8px 8px 5px 6px rgba(50, 50, 50, 0.3);
    top: 50%;
    transform: translateY(-45%) skew(-5deg, -5deg);
    left: 0;
    right: 0; }
    #home .hero__headline::before {
      content: "";
      display: block;
      border: 5px solid #f9f93a;
      height: 100%;
      width: 100%;
      background: none;
      position: absolute;
      top: -15px;
      left: -15px; }
    #home .hero__headline img {
      width: 90%;
      position: relative;
      top: -30px;
      margin: 0 auto 0 15px;
      display: block; }

nav.menu {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40px;
  z-index: 1; }
  nav.menu ul {
    margin: 0 auto;
    display: block;
    text-align: center; }
  nav.menu li {
    display: inline-block;
    padding-left: 8%; }
    nav.menu li:first-child {
      padding-left: 0; }
  nav.menu a {
    font-family: "Londrina Solid", cursive;
    text-transform: uppercase;
    color: #ffa39f;
    letter-spacing: 2px;
    font-size: 2em; }

.ribbon {
  background: #f9f93a;
  display: inline-block;
  color: #000000;
  padding: 0.5em 0.7em;
  font-weight: 900;
  letter-spacing: 2px;
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transform: rotate(-20deg) skew(-20deg, 10deg);
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 30px; }
  .ribbon:before, .ribbon:after {
    content: "";
    width: 0;
    height: 2em;
    display: block;
    background: #4993da;
    position: absolute;
    border-style: solid;
    border-width: 0.5em;
    z-index: -1;
    transform: translateZ(-1em); }
  .ribbon:before {
    left: -0.5em;
    top: 0.5em;
    border-color: #e0e007 #aeae05 #e0e007 #e0e007; }
  .ribbon:after {
    right: -0.5em;
    top: -0.5em;
    border-color: #e0e007 #e0e007 #e0e007 #aeae05; }

#details {
  background-color: #266bbd;
  background-image: url(../public/images/halftone-rose.png);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center; }
  #details .content {
    border: 3px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(38, 107, 189, 0.93);
    min-width: calc(100vw - 80px);
    min-height: calc(100vh - 80px);
    margin: 0 auto; }
  #details h1 {
    color: #266bbd; }
  #details h2 {
    color: #fff; }
  #details .copy {
    padding: 30px;
    color: #fff;
    overflow-y: scroll;
    max-width: 1000px; }
    #details .copy a:not(.btn) {
      color: #ffffff;
      font-weight: bold; }
      #details .copy a:not(.btn):hover {
        color: #266bbd; }

#speakers {
  padding-bottom: 80px;
  background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(var(--theme-secondary) 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, rgba(0, 0, 0, 0.2) 75px, rgba(0, 0, 0, 0.2) 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, rgba(0, 0, 0, 0.2) 76px, rgba(0, 0, 0, 0.2) 77px, transparent 78px, transparent 109px), var(--theme-secondary);
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px; }
  #speakers h1 {
    background: #ffffff;
    color: #e73c4e; }
    #speakers h1::after {
      background: #e73c4e; }
  #speakers .speakers {
    padding: 0 20px;
    max-width: 1000px;
    margin: 100px auto 0 auto; }

.speaker {
  position: relative;
  left: -5px; }
  .speaker:not(:last-child) {
    margin-bottom: 100px; }
  .speaker:last-child {
    margin-bottom: 0; }
  .speaker__profile_img {
    background-size: cover;
    background-position: center center;
    min-height: 380px;
    position: relative;
    border: 3px solid #000000;
    background-repeat: no-repeat; }
    .speaker__profile_img span {
      color: #000000; }
    .speaker__profile_img h3 {
      background: #ffffff;
      padding: 7px 15px;
      border-top: 3px solid #000000;
      border-left: 3px solid #000000;
      position: absolute;
      bottom: 0;
      right: 0;
      font-family: "Londrina Solid", cursive;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.3rem;
      color: #000000;
      margin: 0; }
  .speaker__bio {
    padding: 30px;
    background: #ffffff;
    border: 3px solid #000000;
    border-left: none; }
    .speaker__bio p {
      color: #000000; }
  .speaker__social {
    margin-bottom: 20px; }
    .speaker__social a {
      color: #266bbd;
      font-size: 1.3em;
      padding-right: 10px;
      transition: color .3s ease-in-out; }
      .speaker__social a:last-child {
        padding-right: 0; }
      .speaker__social a:hover, .speaker__social a:focus {
        color: #c23616; }
  .speaker::after {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid #000000;
    content: "";
    right: -15px;
    bottom: -15px;
    z-index: -1;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2NkYGD4////fwYYYEThMTAwwAUYGRlBShECMC0ArqQS9QsD0f0AAAAASUVORK5CYII="); }

.highlights {
  margin-bottom: 20px; }
  .highlights .highlight {
    padding: 5px 15px;
    font-family: "Londrina Solid", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 0; }
    .highlights .highlight:last-child {
      margin-right: 0px; }
    .highlights .highlight.talk {
      background: #c23616;
      color: #ffffff; }

#sponsers {
  background-color: #ffffff;
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 60px; }
  #sponsers h1 {
    color: #ffffff;
    background: #000000; }
    #sponsers h1:after {
      border: 3px solid #000000;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2NkYGD4////fwYYYEThMTAwwAUYGRlBShECMC0ArqQS9QsD0f0AAAAASUVORK5CYII="); }
  #sponsers .copy {
    margin-top: 60px;
    padding: 20px;
    color: #000000; }
    #sponsers .copy h2 {
      color: #000000; }
    #sponsers .copy a {
      color: #000000;
      font-weight: bold; }
      #sponsers .copy a:hover, #sponsers .copy a:focus {
        color: #ffffff; }
        #sponsers .copy a:hover::after, #sponsers .copy a:focus::after {
          background: #000000; }

.sponsors {
  margin-top: 30px;
  padding: 20px; }

.sponsor img {
  max-width: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

h1 {
  background: #ffffff;
  color: #4f8bd3;
  display: block;
  padding: 10px 20px;
  min-width: 220px;
  max-width: 380px;
  width: 100%;
  text-align: center;
  position: relative; }
  h1.left {
    margin: 0 auto 0 -40px; }
    h1.left:after {
      left: -10px; }
  h1.right {
    margin: 0 -40px 0 auto; }
    h1.right:after {
      right: -10px; }
  h1:after {
    content: " ";
    background: #000000;
    width: 100%;
    height: 100%;
    bottom: -10px;
    position: absolute;
    z-index: -1; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Londrina Solid", cursive;
  letter-spacing: 3px;
  font-weight: normal; }

.btn {
  padding: 12px 30px;
  background: #f9f93a;
  color: #000000;
  display: block;
  max-width: 280px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Londrina Solid", cursive;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .3s ease-in-out;
  position: relative;
  border: 3px solid #000000; }
  .btn:hover, .btn:focus {
    background: #000000;
    color: #ffffff; }
  .btn::before {
    content: " ";
    background-size: 150px 130px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    border: 3px solid #000000;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2NkYGD4////fwYYYEThMTAwwAUYGRlBShECMC0ArqQS9QsD0f0AAAAASUVORK5CYII="); }

.a11y-hidden {
  position: absolute;
  z-index: -9999;
  width: 1px;
  height: 1px;
  font-size: 0;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0); }

a.animate {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0.1em 0.25em;
  border-bottom: 2px solid #ffffff; }
  a.animate.black {
    border-color: #000000; }
  a.animate:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
    z-index: -1;
    transition: all 0.1s cubic-bezier(0, 0.59, 1, 0.26); }
    a.animate:after.black {
      background: #000000; }
  a.animate:hover {
    border-bottom: 2px solid #ffffff;
    color: #000000; }
    a.animate:hover.black {
      border-color: #000000; }
    a.animate:hover::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #ffffff;
      z-index: -1; }
      a.animate:hover::after.black {
        background: #000000; }
