/*
elm-hot creates an additional div wrapper around the app to make HMR possible.
This could break styling in development mode if you are using Elm UI.

More context in the issue:
https://github.com/halfzebra/create-elm-app/issues/320
*/
:root.theme-basic {
  --theme-primary: #0e6ba9;
  --theme-secondary: #f9cac8;
  --theme-surface: #fff;
  --theme-background: #fafafa;
  --theme-on-primary: #d5eeff;
  --theme-on-secondary: #0e6ba9;
  --theme-on-surface: #000;
  --theme-theme-font-family-body: "Montserrat", sans-serif;
  --theme-font-family-display: "Londrina Solid", cursive; }

:root.theme-contrast {
  --theme-primary: #f34c84;
  --theme-secondary: #c297dc;
  --theme-surface: #2f2b2b;
  --theme-background: #1b1919;
  --theme-on-primary: #443e42;
  --theme-on-secondary: #000;
  --theme-on-surface: #f5f1f1;
  --theme-theme-font-family-body: "Lato", sans-serif;
  --theme-font-family-display: "Londrina Solid", cursive; }

[data-elm-hot='true'] {
  height: inherit; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  font-family: var(--theme-theme-font-family-body);
  color: var(--theme-secondary); }

img {
  max-width: 100%;
  height: auto; }

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  align-items: center;
  height: 100vh;
  min-height: 100vh; }

.intro {
  align-self: normal;
  color: var(--theme-on-primary);
  background: var(--theme-primary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8em; }
  .intro__logo--flower {
    align-self: end;
    padding-left: 20px; }
  .intro__logo--text {
    grid-column: span 2;
    align-self: end;
    padding-right: 20px; }
  .intro__details {
    grid-column: span 3; }
  .intro__date {
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-family: var(--theme-font-family-display);
    color: var(--theme-secondary);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .intro__tagline {
    font-size: 1.3rem;
    grid-column: span 3;
    text-align: center;
    margin: 0 auto; }

.stay-tuned {
  color: var(--theme-on-secondary);
  background: var(--theme-secondary); }
