@import './css/functions';
@import './css/themes';

[data-elm-hot='true'] {
  height: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;

  @media screen and (min-width: 600px) {
    font-size: 18px;
  }

  @media screen and (min-width: 900px) {
    font-size: 20px;
  }
}

body {
  font-family: theme-var($--theme-font-family-body);
  color: theme-var($--theme-secondary);
}

img {
  max-width: 100%;
  height: auto;
}

// *************************

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}

.intro {
  padding: 2rem;
  align-self: normal;
  color: theme-var($--theme-on-primary);
  background: theme-var($--theme-primary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8em;

  &__logo {
    &--flower {
      align-self: end;
      padding-left: 20px;
    }

    &--text {
      grid-column: span 2;
      align-self: end;
      padding-right: 20px;
    }
  }

  &__details {
    grid-column: span 3;
    padding: 0 0.4rem;
  }

  &__date {
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-family: theme-var($--theme-font-family-display);
    color: theme-var($--theme-secondary);
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__tagline {
    font-size: 1.3rem;
    grid-column: span 3;
    text-align: center;
    margin: 0 auto;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  a {
    color: theme-var($--theme-primary);
  }

  .cfp {
    font-size: 1.5rem;
    padding: 0 20px;

    &__link {
      text-align: center;
    }
  }

  .stay-tuned {
    color: theme-var($--theme-on-secondary);
    background: theme-var($--theme-secondary);
    padding: 2rem;
    display: flex;

    &__coming-soon {
      padding: 0 2rem;
      font-size: 1.5rem;
    }
  }

  .footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
}

.gradient-anim {
  background:
    linear-gradient(
      to right,
      theme-var($--theme-on-secondary) 20%,
      #449dd5 40%,
      #449dd5 60%,
      theme-var($--theme-on-secondary) 80%
    );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out infinite alternate;

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
